@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gradient-background {
  background: linear-gradient(99deg, #72a489, #cf15d9, #9c3135);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  font-size: 1rem;
  line-height: 1rem;
  color: transparent;
  background-clip: text;
  font-weight: 900;
  /* margin-left:5px; */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
  transition: opacity 200ms ease-out;
}

html::-webkit-scrollbar{
  width:.7vw;
}
html::-webkit-scrollbar-thumb{
    background-color: #6b7280;
    border-radius: 100vw;
}
html::-webkit-scrollbar-thumb:hover{
  background-color: #4b5563;
  border-radius: 100vw;
}
html::-webkit-scrollbar-track{
  background-color: #262626;
  border-radius: 100vw;
  margin-block:.1em;
  margin-right:.1em;
}

@media only screen and (max-width: 768px) {
 .gradient-background{
  font-size: 0.75rem;
  line-height: 1rem;
 }
}


